---
import Layout from "../../layouts/Layout.astro";
import scraper from "../../lib/scraper.js";
import CenteredContainer from "../../components/CenteredContainer.astro";

let slug = Astro.params.slug;
let title = slug.split("-episode")[0];
let videos, url, data, image, number, trytitle;
url = "/category/" + title;
videos = await scraper.getSources("/" + slug);
data = await scraper.get(url);
data.Title = data.Title.replace(/"/g, "");
image = data.Image;
number = slug.split("episode-")[1];
if (videos.length == 0) {
	trytitle = data.Title;
	trytitle = trytitle.replace(/\s+/g, "-");
	trytitle = trytitle.toLowerCase();
	trytitle = trytitle + "-episode-" + number;
	videos = await scraper.getSources("/" + trytitle);
}
if (videos.length == 0) Astro.redirect("/notfound?from=" + slug);
---

<Layout name={data.title}>
	<CenteredContainer>
		<div class="offset"></div>
		<div class="content">
			<div class="top-row">
				<img src={image} style="width:90px;height:130px;" alt="Image of anime" />
				<h1>{data.title} Episode {number}</h1>
			</div>
			<div class="video-container">
				<iframe id="main-video" src={videos[0]} scrolling="no" frameborder="0" id="player-iframe" width="770px;" height="442px;" allowfullscreen="true"></iframe>
			</div>
			<div class="navigation"></div>
			<div class="videos">
				{
					videos.map((video, index) => (
						<button class="videos-btn" id={video}>
							Server {index + 1}
						</button>
					))
				}
			</div>
		</div>
	</CenteredContainer>
</Layout>

<script>
	let arr = document.getElementsByClassName("videos-btn") as any;
	for (let i = 0; i < arr.length; i++) {
		arr[i].addEventListener("click", function () {
			let iframe = document.getElementById("main-video") as any;
			iframe.src = arr[i].id;
		});
	}
</script>
