---
import Layout from "../../layouts/Layout.astro";
import CenteredContainer from "../../components/CenteredContainer.astro";
import { getAnimeEntry } from "../../lib/db.js";

let AnimeID = Astro.params.slug;
let Anime = await getAnimeEntry(AnimeID);
if (!Anime) return Astro.redirect("/not-found?from=" + AnimeID);

let isUserLoggedIn = false;

let episodeMapArr = [];
for (let i = 0; i < Anime.Episodes; i++) {
	episodeMapArr.push(i + 1);
}
---

<style is:inline>
	.container {
		color: white;
	}
</style>

<style>
	.top {
		display: flex;
		gap: 20px;
	}
	.anime-right {
		text-align: left;
		width: 70%;
	}
	.offset {
		height: 4rem;
	}
	p {
		margin: 0.5rem 0;
	}
	.episode {
		padding: 0.5rem;
		border-radius: 5px;
		text-decoration: none;
		background-color: var(--accent);
		text-align: center;
	}
	.episode:hover {
		background-color: var(--accent-dark);
	}
	.episode a {
		color: black;
		text-decoration: none;
		font-weight: bolder;
	}
	.episode:hover a {
		color: var(--accent);
	}
	.episodes {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 20px;
	}
</style>

<Layout name={Anime.Title}>
	<CenteredContainer>
		<div class="offset"></div>
		<div class="top">
			<div class="anime-left">
				<img src={Anime.Image} alt={Anime.Title} />
			</div>
			<div class="anime-right">
				<h1>{Anime.Title}</h1>
				{
					Anime.Description != "N/A" && (
						<p>
							<b>Description: </b> {Anime.Description}
						</p>
					)
				}
				{
					Anime.Date != "N/A" && (
						<p>
							<b>Date: </b> {Anime.Date}
						</p>
					)
				}
				{
					Anime.Aliases != "N/A" && (
						<p>
							<b>Aliases: </b> {Anime.Aliases}
						</p>
					)
				}
				{
					!Anime.Genres.includes("N/A") && (
						<p>
							<b>Genres: </b> {Anime.Genres}
						</p>
					)
				}
				{
					isUserLoggedIn && (
						<div class="actions">
							<button>Add to List</button>
						</div>
					)
				}
				<div class="episodes">
					{
						episodeMapArr.map((episode) => (
							<div class="episode">
								<a href={"/view/" + AnimeID + "-episode-" + episode}>Episode {episode}</a>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</CenteredContainer>
</Layout>
